body {
  font-family: "Courier New", Courier, monospace;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
}

.genderize__block {
  margin: auto auto;
  width: 600px;
  height: 150px;
  background-color: lemonchiffon;
  border-radius: 10px;
  border: solid 5px black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form {
  width: 550px;
  height: 50px;
  background-color: white;
  border: solid 2px black;
  border-radius: 5px;
  display: flex;
}

.form input[type="text"] {
  width: 450px;
  height: 50px;
  background: none;
  border: none;
  outline: none;
  margin: 0 0;
  padding-left: 13px;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: 600;
  color: black;
}

.form input[type="text"]::placeholder {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: 600;
  color: black;
}

.form input[type="submit"] {
  width: 100px;
  height: 50px;
  margin: 0 0;
  background-color: black;
  border: none;
  cursor: pointer;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: 600;
  border-left: solid 2px black;
  transition-duration: 500ms;
}

.form input[type="submit"]:hover {
  background-color: lightgrey;
  border-radius: 0 5px 5px 0;
  border-left: solid 2px black;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: 600;
  color: black;
}

.result {
  width: 550px;
  height: 50px;
  background-color: white;
  border: solid 2px black;
  border-radius: 5px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  transition-duration: 1s;
}

.result p {
  max-width: 530px;
  margin-left: 10px;
  color: black;
  font-size: 20px;
  font-weight: 600;
}
